$color-primary: #03B097;
$color-warning: #ff9732;
$color-danger: #ff0000;
$font-color-default: #333333;
$font-color-primary: $color-primary;
$font-color-666: #666666;
$font-color-999: #999999;
$bgc-primary: #f4f8f8;

